<!DOCTYPE html>
<html lang="en">
<head>
  <title>Acute Lymphoblastic Leukemia Subtypes Classification</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    
<!-- NAVBAR -->
    <!-- <nav class="navbar navbar-dark bg-dark">
      </nav>
       -->
      <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <!-- Navbar content -->
        <H6>Acute Lymphoblastic Leukemia Sybtypes Classification</H6>
      </nav> 
<!-- END NAVBAR -->

<div class="container">
  <centre><h1 class="jumbotron bg-info">Acute Lymphoblastic Leukemia Sybtypes Classification</h1></centre>
  <br><br>

   <!--FORM start-->
  <form class="form-horizontal" action="/submit" method="post" enctype="multipart/form-data">

    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Upload Microscopic Blood Smear Image:</label> 
      <div class="col-sm-10">          
        <input type="file" class="form-control" placeholder="Hours Studied"  name="my_image" id="pwd"> <!--Image Upload Box-->
      </div>
    </div>

    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-success">Predict</button> <!--Image Submit-->
      </div>
    </div>
  </form> <!--FORM END-->
<hr>
	{% if prediction %}
  <h2><b>Diagnosing the following image...</b></h2>
  <img src="{{img_path}}" height="224px" width="224px">
  <br>
  <br>
	<h3> <b>Diagnosis Result</b><br> <i> {{prediction}} </i></h3>

	{% endif %}

</div>


<!-- FOOTER START -->
<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5">
    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-dark"
            style="background-color: #ECEFF1"
            >
      <!-- Section: Social media -->
      <section
               class="d-flex justify-content-between p-4 text-white"
               style="background-color: #21D192"
               >
        <!-- Left -->
        <div class="me-5">
          <span>The Tele Diagnosing Web App has been developed for the partial fulfillment of the requirements for the Degree of Bachelor of Science in Computer Science and Engineering</span>
        </div>
        <!-- Left -->
  
        <!-- Right -->
        <div>
          <a href="" class="text-white me-4">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-github"></i>
          </a>
        </div>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold">Project Title</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p>
                Automated Detection of Acute Lymphoblastic Leukemia Subtypes from Microscopic Blood Smear Images using Deep Neural Networks
              </p>
            </div>
            <!-- Grid column -->
  
    
           
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Developed By</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p><i class="fas fa-home mr-3"></i><b>Md. Taufiqul Haque Khan Tusar</b></p>
              <p><i class="fas fa-envelope mr-3"></i> ID: 181472099</p>
              <p><i class="fas fa-phone mr-3"></i> Email: taufiq@ieee.org</p>

              <p><i class="fas fa-home mr-3"></i><b>Roban Khan Anik</b></p>
              <p><i class="fas fa-envelope mr-3"></i> ID: 182482057</p>
              <p><i class="fas fa-phone mr-3"></i> Email: rkanik2014@gmail.com</p>
            </div>
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Supervised By</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p><i class="fas fa-home mr-3"></i><b>Md. Touhidul Islam</b></p>
              <p><i class="fas fa-envelope mr-3"></i> Lecturer</p>
              <p><i class="fas fa-phone mr-3"></i>Department of Computer Science & Engineering</p>
              <p><i class="fas fa-phone mr-3"></i>City University, Dhaka 1216, Bangladesh</p>

            </div>
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->
  
      <!-- Copyright -->
      <div
           class="text-center p-3"
           style="background-color: rgba(0, 0, 0, 0.2)"
           >
        © 2022 Copyright:
        <a class="text-dark" href="https://mdbootstrap.com/"
           >City University</a
          >
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </div>
  <!-- End of .container -->
<!-- FOOTER END -->




</body>
</html>